{% extends 'base.html' %}
{% load static %}

{% block link %}
<link href="https://unpkg.com/tabulator-tables@4.4.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.4.3/dist/js/tabulator.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/exam_adder.css' %}">
{% endblock link %}

{% block content %}
<div class="pos-f-t">
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg p-4">
    <h5 class="text-white h4">Hello, {{ request.user|capfirst }}</h5>
    <span class="text-muted">An interested organization for online OMR evaluation </span>
    <a href={% url 'logout-page' %}><button type="button" class="btn btn-outline-danger logout-btn">Logout</button></a>
  </div>
</div>
<nav class="navbar navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
</div>
<a href="{% url 'home-page'%}"><h3 class="homeNav"><button type="button" class="btn btn-light">Home</button></h3></a>
<a href={% url 'all-exams' %} ><h3 class="homeNav"><button type="button" class="btn btn-light">Exams</button></h3></a>


<div class="container">
  <form  method="POST" enctype="multipart/form-data">{% csrf_token %}
  <div class="row">
    <div class="col-sm" style="margin:5px;text-align: center; height: 30vh; font-size:24px; border:2px solid gray; border-radius:50px">
      <p style="margin-top:15px">Enter a name for this exam. For example "<b>Exam-21/12/2019-math</b>"</p>
      <div class="input-group" style="padding:0; border: 3px solid gray; border-radius:6px">
        {{form.exam_name}}
      </div>
    </div>
    <div class="col-sm" style="text-align: center; height: 30vh; font-size:24px; border:2px solid gray; border-radius:50px">
      <p style="margin-top:15px">Choose one of the templates from menu below</p>
      <div class="input-group"  style="padding:0;">
        <div class="input-group-append" style="width:50vh; border: 3px solid gray; border-radius:6px">
          {{form.template}}

        </div>
      </div>
    </div>
    <div class="col-sm" style="margin-left:5px; text-align: center; height: 30vh; font-size:24px; border:2px solid gray; border-radius:50px">
      <p style="margin-top:15px">Choose Date Of Exam</p>
      <div class="input-group"  style="padding:0;">
        <div class="input-group-append" style="width:50vh; border: 3px solid gray; border-radius:6px">
          {{form.date}}

        </div>
      </div>
    </div>

  </div>


  <div class="card-body">
              <div>
                      <div class="row">
                        <div class="col-sm" style="text-align: center; height: 30vh; font-size:24px; border: 3px solid gray; border-radius:50px">
                          <p style="margin-top:15px">Enter Marks For Correct Answer</p>
                          <div class="col input-group" >Correct Marks &nbsp<input style="width:39vh; border: 3px solid gray; border-radius:6px" type="number" name="default marks" id="cmarks"></div>
                          </div>
                        <div class="col-sm" style="margin-left:5px; text-align: center; height: 30vh; font-size:24px; border: 3px solid gray; border-radius:50px">
                          <p style="margin-top:15px">Enter Marks For Wrong Answer</p>
                          <div class="col input-group">Wrong Marks &nbsp<input style="width:40vh; border: 3px solid gray; border-radius:6px" type="number" name="wrong marks" id="wmarks"></div>
                          </div>
                      </div>
                      <div class="row" style="margin-top:5px">
                        <div class="col-sm" style="text-align: center; height: 30vh; font-size:24px; border: 3px solid gray; border-radius:50px">
                          <p style="margin-top:15px">Enter Name Of One Subject, You Can Add Many Subjects One By One</p>
                            <div class="col"><input style="width:60vh; border: 3px solid gray; border-radius:6px" type="text" name="subject" id="subject"></div>
                        </div>
                          <div class="col-sm" style="margin-left:5px; text-align: center; height: 30vh; font-size:24px; border: 3px solid gray; border-radius:50px">
                            <p style="margin-top:15px">Enter Number Of Rows For This Subject, You Can Add Many Rows For Different Subjects</p>

                            <div class="col"><input style="width:60vh; border: 3px solid gray; border-radius:6px" type="number" name="n of rows" id="rownos"></div>
                          </div>

                      </div>
                      <div class="col-sm btn" style="margin-top:10px"><span class="table-add1 float-right mb-3 mr-2">
                        <a href="#!" id="multiple-add"><i  style="padding-left:40vh; padding-right:40vh; display:block; width:130vh; height:10vh; background-color:#275091;
                        color:white; border: 3px solid gray; border-radius:50px; font-size:30px; padding-top:10px; color:white;"
                          class="fad fa-plus fa-2x" aria-hidden="true" aria-expanded="true"
                          >ADD Rows With Filled Details</i></a></span></div>
                  </div>
                  <div class="alert alert-success fade " role="alert" id="rowadd">
                      <strong id="input_data"></strong>
                    </div>
                    <p id="rowCounter"></p>
                   <button type="button" id="download">Download csv </button>
                   <button type="button" id="empty">Clear table </button>
                  <div id="example-table"></div>

      </div>

        <div class="row">
          <div style="margin:5px; text-align: center; width:70vh; height: 30vh; font-size:24px;
          border: 0px white gray; border-radius:50px">

            <div id="inputGroupFile04"></div>



          </div>
          <!--<div class="col-sm" style="margin-left:5px; text-align: center; height: 30vh; font-size:24px; border: 3px solid gray; border-radius:50px">
            !--<p style="margin-top:15px">Upload image file of OMR sheet with correct answers or fill
            answers bellow</p>--
              <div class="custom-file" style="margin:36px; width:50vh;height:7vh; border: 3px solid gray; border-radius:5px">
                {{form.ansKeyImg}}
                <label class="custom-file-label inputs" for="inputGroupFile004" style="font-size:22px; text-align:left">Upload Correct Answers Image</label>
              </div>
            </div>-->

          </div>

        </div>
  <div class="col-sm" style="text-align: center; height: 15vh;font-size:24px; border: 3px solid gray; border-radius:50px">
    <p style="margin-top:15px">Click this button after completing the form and don't forget to fill the answer key table</p>
  <div class="input-group">
      <button type="submit" name="action" value ="ExamBuild" id="exam-submit" disabled class="btn" style="display:inline; border: 3px solid gray;
      border-radius:50px;margin-left:80vh;
      padding:15px;font-size:15px; background-color:#275091; color:white"><b>BUILD EXAM</b></button>

  </div>
  </div>
</form>
</div><br><br><br><br>
<form style="margin-left:500px;">{% csrf_token %}

<div class="col-sm" style="position: absolute; margin-top: -58vh; margin-left:5vh; width:60vh; text-align: center; height: 30vh; font-size:24px; border: 3px solid gray; border-radius:50px">
<p style="margin-top:15px">Upload Correct Answers OMR Here!!</p>
<div class="custom-file" style="margin:20px; width:48vh; height:6vh; border: 3px solid gray; border-radius:5px">
<input type="file"  name="datafile" required id ="file-upload2" /></div>

<div class="custom-file" style="width:47.5vh; height:6vh; border: 3px solid gray; border-radius:5px; color:red">
<input type="submit" style="" value="Extract answers from uploaded file!" id="addANS"
onClick="fileUpload(this.form,'{% url 'exam-answers' %}','upload'); return false;" ></div>

<div id="upload"></div></div>

</form>
<div id="ansDATA" style="display: none;">{{Answers}}</div>
{% endblock content %}

{% block script %}

<!-- Latest compiled and minified JavaScript -->
<script  src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script src =  "{% static 'js/tableNEW.js' %}"></script>
<script src =  "{% static 'js/fileName.js' %}"></script>


{% endblock script %}
